@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BF2604, #F26A1B);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #460f02c9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F27D16;
    text-align: center;
    text-shadow: 1px 1px 2px #522a08be;
}

h2 {
    color: #F2BB16;
}

p {
    text-align: justify;
}